
#toplevel_page_advancedcookies-advanced_cookies .wp-menu-image img{
    height: auto;
    width: 65%;
    padding: 0px !important;
    margin-top: 5px;
}

#pannel{
    padding: 1em;
  }
  
  #onglets ul{
    /* resset du ul */
      padding : 0;
      margin : 0;
  }
  
  .onglet{
    /* definition des onglet 'normaux' */
      display : inline-block;
      padding : 1em 2em;
      background: LightSlateGrey;
      opacity: .3;
      font-weight: bold;
      border-radius : 4px 4px 0 0;
      cursor:pointer;
      color: white;
      box-shadow: 1px 0px 3px black;
      margin-bottom: 0px;
  }
  
  .onglet.actif{
    /* ce qui change quand l'onglet est actif */
      opacity : 1;
  }
  
  .contenu{
    /* contenu 'normal' */
      display : none;
      border : 2px solid lightslategrey;
      padding : 1em;
  }
  
  .contenu.actif{
    /* Ce qui change quand le contenu est actif */
      display : block;
  }
  
.signature_hob_ac{
    margin-top: 50px;
    text-align: right;
  }

/* Description */
.ac-description .card{
    max-width:100% !important;
}

.ac-description .description h1{
    display:flex
}

.ac-description .card-body{
    margin-top:20px;
}

.ac-description .card-body{
    margin-top:20px;
}

.ac-description .description{
    display:flex;
}

.ac-description .description img{
    margin-right:35px;
}

.ac-description .hobrgpd p{
    width:70%;
}
.ac-description .hob_cookie_logo{
    height: 95px;
    position: relative;
    top: 5px;
}
.ac-description .hobrgpd_table h3{
    margin-left:15px;
}

.hob_cookie_advanced .hobrgpd_table tr {
    border-bottom: solid 1px #ffffff;
    background-color: #f3f3f3;
}
.hob_cookie_advanced .hobrgpd_table td {
    padding: 5px;
}   
.hob_cookie_advanced .hob_propos p{
    display: flex;
    align-items: center;
    width:70%;
} 
.hob_cookie_advanced .hob_propos img{
    margin-right:15px;
} 



/* Configuration */
.ac-gestion-des-services,
.ac-configuration{
    background-color: white;
    padding: 2%;
}

.ac-gestion-des-services .ac-enregistrer,
.ac-configuration .ac-enregistrer{
    position: fixed;
    right: 2%;
    top: 14%;
}

.ac-gestion-des-services .ac-enregistrer button,
.ac-configuration .ac-enregistrer button{
    cursor:pointer;
}

.ac-gestion-des-services .ac-enregistrer img,
.ac-configuration .ac-enregistrer img{
    width:32px;
    height:auto;
}

.ac-gestion-des-services .control,
.ac-configuration .control{
    display: flex;
    margin-bottom: 20px;
}

.ac-gestion-des-services .control p:first-child,
.ac-gestion-des-services .control label:first-child,
.ac-configuration .control p:first-child,
.ac-configuration .control label:first-child
{
    margin-right:25px;
    width: 10%;
    font-size: 1rem;
    text-align: start;
}

.ac-gestion-des-services .control-textarea div{
    display: flex;
    flex-direction: column;
}

.ac-gestion-des-services .control-textarea  p:first-child{
    width: 11%;
}

.ac-gestion-des-services .control-textarea div{
    width: 100%;
}
.ac-gestion-des-services .control-textarea textarea,
.ac-configuration .control-select div,
.ac-configuration .control-input div
{
    width:89%;
}

.ac-configuration h5
{
    font-size:1.2rem;
    font-weight:bold;
}

.ac-configuration .wp-editor-wrap
{
    width:79%;
    min-height:300px;
}

.ac-configuration .wp-editor-wrap iframe
{
    min-height:300px;
}

.ac-configuration hr
{
    width:30%;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 0;
}
.ac-configuration .control-select div select,
.ac-configuration .control-input div input
{
    width:89%;
    display: block;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #cdcdcd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    max-width: 100%;
    background-color: #fff;
    border-radius: .25rem;
    margin-bottom:20px;
}
.ac-configuration .control-color .b_input_color{
    position: relative;
    width:100%;
}
.ac-configuration .control-color .b_input_color input[type="text"]{
    position: relative;
    width:89%;
    display: block;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #cdcdcd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    max-width: 100%;
    background-color: #fff;
    border-radius: .25rem;
    margin-bottom:20px;
    padding-left: 59px;
    z-index: 1;
}

.ac-configuration .control-color label{
    width:12% !important;
}

.ac-configuration .control-color .b_input_color .the_color{
    height: 68%;
    z-index: 39;
    padding: 0;
}

.ac-configuration .control-color .b_input_color input[type="color"]{
    height: 100%;
    z-index: 40;
    padding: 0;
    margin: 0;
    padding: -7px -12px -12px -10px !important;
    -webkit-appearance: none;
    border-right: none;
    border-color: #cdcdcd;
    cursor: pointer;
    border-radius: 0.25rem 0px 0px 0.25rem;
}

.ac-configuration .control-color .b_input_color div{
    position: absolute;
}

.ac-configuration .control-select{
    align-items: center;
}

.ac-configuration .control-textarea{
    align-items: flex-start;
}

.ac-configuration .control-input{
    align-items: center;
}

.ac-gestion-des-services .control-radio,
.ac-configuration .control-radio{
    align-items: center;
}


.ac-enregistrer button{
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 0 10px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    min-width: 44px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    transition: 250ms linear;
    background: #1273eb;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.ac-enregistrer button img{
    margin-right:10px
}

/* SWITCH RADIO */
.ac-switch-field {
	display: flex;
	overflow: hidden;
}

.ac-switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.ac-switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 12px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.ac-switch-field label:hover {
	cursor: pointer;
}

.ac-switch-field input:checked + label {
	background-color: #495057;
	box-shadow: none;
    color: white;
}

.ac-switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.ac-switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.ac-licence .text-logo-ac-licence{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin: 25px;
}

.ac-licence .form-ac-licence{
    display: flex;
    margin-left: 25px;
}

.ac-licence .form-ac-licence .input-ac-licence{
    display: flex;
    flex-direction: column;
}

.ac-licence .form-ac-licence .input-ac-licence #token_hob_ac{
    margin-bottom: 8px;
    padding: 5px 20px 5px 20px;
}

.ac-licence .form-ac-licence .ac-licence{
    height: 40px;
    width:120px;
    background-color:green;
    font-weight:bold;
    text-transform:uppercase;
    color:white;
    border:solid green 1px;
    border-radius:5px;
    margin-left:10px;
    cursor:pointer;
}

.ac-licence .form-ac-licence .ac-licence:hover{
    background-color:#f0f0f1;
    color:green;
}

.ac-licence .form-ac-licence .error-form-ac-licence,
.ac-licence .form-ac-licence .success-form-ac-licence{
    display:none;
}

.ac-licence .form-ac-licence .error-form-ac-licence p{
    color: red;
    position:relative;
    bottom:8px;
    font-size:1rem;
    margin-left:15px;
    animation-duration: 5s;
    animation-name: opacity_input;
}

.ac-licence .form-ac-licence .success-form-ac-licence p{
    color: green;
    position:relative;
    bottom:8px;
    font-size:1rem;
    margin-left:15px;
    animation-duration: 5s;
    animation-name: opacity_input;
}

@keyframes opacity_input {
        0% { opacity:1; }
        20% { opacity:0.8; }
        40% { opacity:0.6; }
        60% { opacity:0.4; }
        80% { opacity:0.2; }
        100% { opacity:0; }
    }